<a href="https://colab.research.google.com/github/quciya/Task/blob/main/InterviewTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

For Training dataset

In [ ]:
df = pd.read_csv (r'/content/drive/MyDrive/Interview_test/training_data.csv')
print (df)

                                                x:x2:y
0    -0.22878771137762494:-2.2878771137762492:3.506...
1    -0.09466898484041342:-0.9466898484041342:0.782...
2    -0.9566513326870152:-9.566513326870151:3.04530...
3    -1.9845087538246209:-19.845087538246208:3.0632...
4    0.386115166110936:3.8611516611093597:5.5481606...
..                                                 ...
995  6.0907803704582495:60.90780370458249:6.9946277...
996  6.404439777984555:64.04439777984555:10.3418624...
997  6.7591547330301:67.591547330301:8.604072070944216
998  7.696099801715012:76.96099801715012:9.13037366...
999  7.035915727545372:70.35915727545371:7.82713817...

[1000 rows x 1 columns]

In [ ]:
df.head(12)

                                               x:x2:y
0   -0.22878771137762494:-2.2878771137762492:3.506...
1   -0.09466898484041342:-0.9466898484041342:0.782...
2   -0.9566513326870152:-9.566513326870151:3.04530...
3   -1.9845087538246209:-19.845087538246208:3.0632...
4   0.386115166110936:3.8611516611093597:5.5481606...
5   -0.9235870282331189:-9.235870282331188:2.95307...
6   -2.9300249744480498:-29.300249744480496:2.5752...
7   -0.5992298434965667:-5.992298434965667:2.81008...
8   0.18680328497817256:1.8680328497817256:2.13561...
9   -0.6182105833594057:-6.182105833594057:3.10013...
10                                                 ::
11  -0.601860694332906:-6.01860694332906:3.4270734...

In [ ]:
# df.drop([10], axis=0, inplace=True)

In [ ]:
df.head(12)

                                               x:x2:y
0   -0.22878771137762494:-2.2878771137762492:3.506...
1   -0.09466898484041342:-0.9466898484041342:0.782...
2   -0.9566513326870152:-9.566513326870151:3.04530...
3   -1.9845087538246209:-19.845087538246208:3.0632...
4   0.386115166110936:3.8611516611093597:5.5481606...
5   -0.9235870282331189:-9.235870282331188:2.95307...
6   -2.9300249744480498:-29.300249744480496:2.5752...
7   -0.5992298434965667:-5.992298434965667:2.81008...
8   0.18680328497817256:1.8680328497817256:2.13561...
9   -0.6182105833594057:-6.182105833594057:3.10013...
10                                                 ::
11  -0.601860694332906:-6.01860694332906:3.4270734...

In [ ]:
def remo(num):
  a= num.split(":")
  return a[0]
def remo1(num):
  a= num.split(":")
  return a[1]
def remo2(num):
  a= num.split(":")
  return a[2]
  
df['x']= df['x:x2:y'].apply(remo)
df['x2']= df['x:x2:y'].apply(remo1)
df['y']= df['x:x2:y'].apply(remo2)

In [ ]:
print(df.describe())

       x:x2:y     x    x2     y
count    1000  1000  1000  1000
unique    999   999   999   999
top        ::
freq        2     2     2     2

In [ ]:
df.isnull().sum()

x:x2:y    0
x         0
x2        0
y         0
dtype: int64

In [ ]:
df['y'] = pd.to_numeric(df['y'])

df['x'] = pd.to_numeric(df['x'])

df['x2'] = pd.to_numeric(df['x2'])
print(df.dtypes)

x:x2:y     object
x         float64
x2        float64
y         float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x:x2:y  1000 non-null   object
 1   x       998 non-null    float64
 2   x2      998 non-null    float64
 3   y       998 non-null    float64
dtypes: float64(3), object(1)
memory usage: 31.4+ KB

In [ ]:
df['x'] = df['x'].replace(np.nan, 0)
df['x2'] = df['x2'].replace(np.nan, 0)
df['y'] = df['y'].replace(np.nan, 0)

In [ ]:
df1 = pd.read_csv (r'/content/drive/MyDrive/Interview_test/test.csv')
print (df1)

                                               x:x2:y
0   -0.8210276919359665:38.16323185225809:3.041248...
1   0.5273711075458425:-11.34863319027966:4.144785...
2   -1.1976720978266555:-7.431651625629602:2.93460...
3   -1.4632804044895802:-10.188718505305491:2.1552...
4   -0.6213742476594114:80.68705255542687:4.812139...
..                                                ...
95  8.339252116054944:32.39489072209666:8.81560737...
96  6.620572702220211:34.00991023175618:8.51893968...
97  8.36413783345907:-6.2358116482280455:8.6857311...
98  7.465648781495168:69.10786194871292:10.0119068...
99  8.007819589408951:70.35915727545371:9.91913351...

[100 rows x 1 columns]

In [ ]:
def remo(num):
  a= num.split(":")
  return a[0]
def remo1(num):
  a= num.split(":")
  return a[1]
def remo2(num):
  a= num.split(":")
  return a[2]
  
df1['x']= df1['x:x2:y'].apply(remo)
df1['x2']= df1['x:x2:y'].apply(remo1)
df1['y']= df1['x:x2:y'].apply(remo2)

In [ ]:
df1['y'] = pd.to_numeric(df1['y'])

df1['x'] = pd.to_numeric(df1['x'])

df1['x2'] = pd.to_numeric(df1['x2'])
print(df1.dtypes)

x:x2:y     object
x         float64
x2        float64
y         float64
dtype: object

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x:x2:y  100 non-null    object
 1   x       100 non-null    float64
 2   x2      100 non-null    float64
 3   y       100 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.2+ KB

In [ ]:
df1.isnull().sum()

x:x2:y    0
x         0
x2        0
y         0
dtype: int64

In [ ]:
df3 = df.append(df1, ignore_index=True)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x:x2:y  1100 non-null   object
 1   x       1100 non-null   float64
 2   x2      1100 non-null   float64
 3   y       1100 non-null   float64
dtypes: float64(3), object(1)
memory usage: 34.5+ KB

In [ ]:
df3.drop("x:x2:y", axis=1, inplace=True)

In [ ]:
df3['y'] = pd.to_numeric(df3['y'])

df3['x'] = pd.to_numeric(df3['x'])

df3['x2'] = pd.to_numeric(df3['x2'])
print(df3.dtypes)

x     float64
x2    float64
y     float64
dtype: object

In [ ]:
x=df3.drop(['y'],axis=1)
y=df3['y']

In [ ]:
x.round(5)
print(x)

             x         x2
0    -0.228788  -2.287877
1    -0.094669  -0.946690
2    -0.956651  -9.566513
3    -1.984509 -19.845088
4     0.386115   3.861152
...        ...        ...
1095  8.339252  32.394891
1096  6.620573  34.009910
1097  8.364138  -6.235812
1098  7.465649  69.107862
1099  8.007820  70.359157

[1100 rows x 2 columns]

In [ ]:
y.round(5)
print(y)

0        3.506056
1        0.782723
2        3.045309
3        3.063300
4        5.548161
          ...
1095     8.815607
1096     8.518940
1097     8.685731
1098    10.011907
1099     9.919134
Name: y, Length: 1100, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.0909, random_state=0)

In [ ]:
df3.isnull().any().any()

False

In [ ]:
df3.isnull().any()

x     False
x2    False
y     False
dtype: bool

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
regressor.score(X_test,y_test)

0.7484489529401501

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score,mean_absolute_error as mae,mean_squared_error as mse

In [ ]:
print(f"Accuracy-: {r2_score(y_test, y_pred)}\n")

print(f'MAE:{mae(y_test,y_pred)}')
print(f'MSE:{mse(y_test,y_pred)}')
print(f'RMSE:{np.sqrt(mse(y_test,y_pred))}')

Accuracy-: 0.7484489529401501

MAE:1.2139290974953985
MSE:2.0594833615800923
RMSE:1.4350900186330098

In [ ]:
d = {'y_pred': y_pred, 'y_test': y_test}

In [ ]:
pd.DataFrame(d)

        y_pred     y_test
395   6.251462   5.106218
860   8.116441   8.833198
477   5.776154   2.722786
671   8.525226   8.053965
1002  2.386958   2.934602
...        ...        ...
1073  7.837459  10.329426
1041  5.457279   4.574170
672   8.253414  11.106031
521   6.300384   3.695241
1070  8.629530   7.526526

[100 rows x 2 columns]